.article-image {
    width: 80px;
    height: 40px;
    object-fit: cover;
}

.article-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-header-left {
    display: flex;
    align-items: center;
}
.search {
    width: 230px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid green;
    padding: 5px;
    color: #464855;
    outline: none;
}
.total {
    margin: 0;
}
.more-info {
    position: relative;
}
.info-icon {
    font-size: 12px;
    cursor: pointer;
}
.last-update {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 60px;
    padding: 10px;
    display: none;
    box-shadow: 0 10px 15px -7px black;
    background-color: white;
}
.info-icon:hover > .last-update {
    display: initial;
}
