.content {
    width: 95% !important;
}

.create-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid lightgreen;
    padding: 10px;
}

.left-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-content {
    width: 30%;
}

.inline-form {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.form-control {
    width: 80% !important;
}

.cover-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cover-content {
    width: 100%;
}
.select-content {
    width: 100%;
    min-height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-info {
    width: 95%;
    height: 180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: lightblue;
    border-width: thin;
    cursor: pointer;
    position: relative;
}

.sub-image-info {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo-text {
    font-weight: normal;
}

.image-preview {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-input {
    margin: 5px auto;
}

.icon {
    font-size: 40px;
    color: rgb(65, 194, 236);
}

.cover-header {
    background-color: lightblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px 5px 0 0;
    height: 50px;
}

.video-button {
    width: 40%;
    background: none;
    border: none;
    outline: none;
}

.image-button {
    width: 40%;

    background: none;
    border: none;
    outline: none;
}
.active-button {
    border-radius: 5px 5px 0 0;
    background-color: white;
    border: 1px solid lightblue;
    border-bottom: none;
    height: 100%;
}

.video-info {
    width: 95%;
    height: 170px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: lightblue;
    border-width: thin;
    cursor: pointer;
    position: relative;
}
.sub-video-info {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-preview {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inline {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.checkbox-inline {
    margin: 0 15px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.video-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.invisible {
    display: none;
}

.active-video {
    border: 2px solid lightblue;
}
