.content {
    width: 95% !important;
}

.create-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid lightgreen;
    padding: 10px;
}

.left-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-content {
    width: 30%;
}

.inline-form {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.form-control {
    width: 80% !important;
}

.cover-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cover-content {
    width: 100%;
}
.select-content {
    width: 100%;
    height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-info {
    width: 95%;
    height: 180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: lightblue;
    border-width: thin;
    cursor: pointer;
    position: relative;
}

.sub-image-info {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.photo-text {
    font-weight: normal;
}

.image-preview {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-input {
    margin: 5px auto;
}

.icon {
    font-size: 40px;
    color: rgb(65, 194, 236);
}
