.paginate-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color:black;
}
.paginate-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    border: 1px solid lightblue;
    font-weight: bold;
}
.current-page {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: #bac9d6;
    border: 1px solid lightblue;
    font-weight: bold;
}
