.send-container{
    width:80%;
    margin:30px auto;
    display:flex;
    flex-direction: column;
}

.send-header{
    display:inline;

}
.send-profile{
    width:30px;
    height:30px;
    position:relative;

}

.send-img{
    width:100%;
    height:100%;
    border-radius:50%;
}

.send-name{
    position:absolute;
    background-color:black;
    width:60px;
    bottom:-30px;
    color:white;
    padding:0 5px;
    display:none;
    cursor:pointer
}
.send-img:hover .send-label{
    display:initial;
}

