.preview-container{
    background-color: #ffd9d9 !important;
}
.send-preview-profile{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit: contain;
    margin:5px;
}
.send-preview-container{
    display:flex;

}
.send-preview-content{
    border-radius:10px;
    display:flex;
    flex-direction:column;
    padding:5px;
    margin:5px;
    background-color:white;

}

.send-preview-link{
    display:flex;
    justify-content: space-between;
    text-decoration: none !important;
}
.send-preview-img{
    border-radius:5px;
    width:70px;
    height:90px;
    object-fit: contain;
}
.send-preview-text{
    display:flex;
    width:70%;
    flex-direction: column;

}

.send-preview-title{
    color:black;
    font-weight:bold;
    font-size:13px;
}

.send-preview-description{
    color:grey;
    font-size:12px;
}
.send-preview-host{
    color:black;
    font-size:12px;
}
.send-preview-time{
    color:grey;

}
