.video-popup-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.video-popup-item {
    width: 200px;
    height: 200px;
    margin: 5px;
    position: relative;
}

.inputVideo {
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: rgb(98, 124, 255);
    border-width: 2px;
    cursor: pointer;
}
.icon {
    font-size: 40px;
    color: rgb(65, 194, 236);
}
.upload-text {
    width: 70%;
    text-align: center;
}

.video-popup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-popup-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    margin: 0 0 2px 2px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.video-popup-title {
    padding: 10px;
    margin: 0;
    color: white;
}
@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.video-popup-item:hover > .video-popup-info {
    display: initial;
    animation: fadeInFromNone 0.25s ease-in-out;
}
.video-popup-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 13px;
}

.video-popup-icon {
    font-size: 40px;
    color: rgb(65, 194, 236);
}

.upload-item {
    display: flex;
}
