.input-video {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    cursor: pointer;
}
.photo-icon {
    font-size: 20px;
}
#upload-video {
    display: none;
}
#upload-photo {
    display: none;
}
.photo-text {
    font-weight: normal;
}

.cover-photo {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    cursor: pointer;
}
