.input-video {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    cursor: pointer;
}
.photo-icon {
    font-size: 20px;
}
#upload-video {
    display: none;
}
#upload-photo {
    display: none;
}
.photo-text {
    font-weight: normal;
}
.icon {
    font-size: 40px;
    color: rgb(65, 194, 236);
}
.cover-photo {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.cover-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-change {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    display: none;
}
