.list-friends{
    display:flex;
    align-items:center;
}
.friend-item{
    margin:10px;
    width:200px;
    height:170px;
    color:white;
}
.item-header{
    border-radius:10px 10px 0 0;
    width:100%;
    height:50%;
    background-color:orange;
    display:flex;
}
.item-footer{
    width:100%;
    height:50%;
    border-radius:0 0 10px 10px;
    border:2px solid #232222;
    color:black;
}
.profile-img{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    object-fit:cover;
}
