.list-friends{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
}
.friend-item{
    margin:10px;
    width:120px;
    height:160px;
    color:white;
}
.item-header{
    border-radius:5px 5px 0 0;
    width:100%;
    height:30%;
    background-color:orange;
    display:flex;
    position:relative;
}
.item-footer{
    width:100%;
    height:50%;
    border-radius:0 0 10px 10px;
    border:2px solid #232222;
    color:black;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.profile-img{
    position:absolute;
    bottom:-20px;
    left:45%;
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    object-fit:cover;
}
